<!DOCTYPE html>
<html>
<head>
    <title>Успешное создание почтового сообщения</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Почтовое сообщение успешно создано!</h1>
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Вернуться на главную страницу</a>
    </div>

    <!-- Подключение Bootstrap JS (необходимо для работы кнопок) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
